# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node / React (if using)
node_modules/
dist/
build/

# Python / Django (if using backend)
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
env/

# Logs
*.log

# IDE / Editors
.vscode/
.idea/
*.swp

# Others
*.local
*.lock
